* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #D85AFF;
}
.container {
  padding: 20px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}
.content{
  clear: both;
  padding: 10px;
}
.boxheading {
  float: right;
  border:1px solid black;
  margin-top:0px;
  font-size:1.25em;
}
#number1 {
  background-color: #A52A2A;
}
#number2 {
  background-color: #DEB887;
}
#number3 {
  background-color: #5F9EA0;
}
.boxstyle{
  background-color: #ffc430;
  border: 1px solid black;
  font-family: cursive;
  margin:2%;
}
.box{
  float: left;
  width: 33.3%;
}
@media screen and (min-width:992px){
    .box{
      width:33.3%;
  }
  }
  @media (min-width:768px) and (max-width:991px){
    .box{
      width:50%;
    #sushi{
      width:98%;
    }
    } 
  @media (max-width:767px){
    .box{
      width:100%;
    }