#header-nav {/* HEADER */
	border-radius: 0;
	background-color: #778899; 
}
.navbar h1{
	color: #000;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000;
}
.navbar-brand a:hover, .navbar-brand a:focus, #menu a:hover, #menu a:focus {
  text-decoration: none; 
}
#menu li a:hover {
  	background: #fff;
}
#menu li a {
	color: #000;
	font-size: 1.2em;
	text-align: center
}
#menu-content {/*Main Content */
	background-color: #808080;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 20px;

} 
#menu-content p{
	margin: 10px;
}
#menu-heading {
	text-align: center;
	margin-top: 0px;
}
/** Small Device **/
@media (max-width: 767px) {
	#menu-content {
		margin: 0 20px;
	}
}